//src: url("../../../fonts/Notosansdisplaysemibold.woff") format('woff'),
//url("../../../fonts/Notosansdisplaysemibold.woff2") format('woff2'),
//url("../../../fonts/Notosansdisplaysemibold.ttf") format('truetype');
//// OpenSans-Semibold
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix')format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.eot?#iefix')format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Light.eot?#iefix')format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix')format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-SemiBold2.eot?#iefix')format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}








